<!-- IMPORT MASTER PAGE -->
<% layout('layout/main') %>

<link rel="stylesheet" href="css/factura.css">
<script defer src="js/factura.js"></script>

<div class="container">

    <!-- TITTLE -->
    <div class="row">
        <div class="col-12">
            <div class="divTitle text-center">
                <span class="txtTitle">Facturas</span>
            </div>
        </div>
    </div>

    <div class="divFactura">

        <div id="divTable">
            <!-- <table class="table" id="factTable">
                <thead>
                    <tr>
                        <th scope="col">hello</th>
                        <th scope="col">hello</th>
                        <th scope="col">hello</th>
                        <th scope="col">hello</th>
                        <th scope="col">hello</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hello</td>
                        <td>hello</td>
                        <td>hello</td>
                        <td>hello</td>
                        <td>hello</td>
                    </tr>
                </tbody>
            </table> -->
        </div>

    </div>