<!-- IMPORT MASTER PAGE -->
<% layout('layout/main') %>

<link rel="stylesheet" href="css/productos.css">
<script defer src="js/productos.js"></script>

<div class="container">

    <!-- TITTLE -->
    <div class="row">
        <div class="col-12">
            <div class="divTitle text-center">
                <span class="txtTitle">Productos</span>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="row">
        <div class="col-12">
            <div class="divProductosForm">
                <!-- TITLE FORM -->
                <h3>Nuevo Producto</h3>
                <!-- FORM -->
                <input type="text" placeholder="Nombre" class="form-control mb-3" id="txtNombre" autocapitalize="off">
                <textarea id="txtDescripcion" cols="30" rows="3" class="form-control mb-3"
                    placeholder="Descripcion..."></textarea>
                <input id="txtPrecioUni" type="number" placeholder="Precio Unitario (Lempiras)"
                    class="form-control mb-3">
                <label class="lblNotify" id="lblNotify"></label>
                <button id="btnGuardarProducto" class="btn btn-success form-control">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="divTableProduct">
                <!-- TITTLE TABLE -->
                <h3>Productos</h3>
                <!-- TABLE PRODUCT -->
                <div id="divTable">
                    <!-- <table class="tableProducts" id="tableProducts">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->

                </div>
            </div>
        </div>
    </div>