<!-- IMPORT MASTER PAGE -->
<% layout('layout/main') %>

<link rel="stylesheet" href="css/productos.css">
<script defer src="js/productos.js"></script>

<div class="container-fluid">

    <!-- TITTLE -->
    <div class="row">
        <div class="col-12">
            <div class="divTitle text-center">
                <span class="txtTitle">Productos</span>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="row">
        <div class="col-6">
            <div class="divProductosForm">
                <!-- TITLE FORM -->
                <h4>Nuevo Producto</h4>
                <!-- FORM -->
                <input type="text" placeholder="Nombre" class="form-control mb-3" id="txtNombre" autocomplete="off">
                <textarea id="txtDescripcion" cols="30" rows="3" class="form-control mb-3"
                    placeholder="Descripcion..."></textarea>
                <input id="txtPrecioUni" type="number" placeholder="Precio Unitario (Lempiras)"
                    class="form-control mb-3">
                <label class="lblNotify" id="lblNotify"></label>
                <button id="btnGuardarProducto" class="btn btn-success form-control">Guardar Producto</button>
            </div>
        </div>

        <div class="col-6">
            <div class="divProductosForm">
                <!-- TITLE FORM -->
                <h4>Inventario</h4>
                <!-- FORM -->
                <!-- <form action="" id="formInv"></form> -->
                <select name="" id="cbxProducto" class="form-control mb-3">
                    <option value="" disabled selected>Seleccione un producto</option>
                    <!-- <option value="jm">Jamaica</option>
                        <option value="mx">Mexico</option>
                        <option value="hn">Honduras</option>
                        <option value="ch">China</option> -->
                </select>
                <input type="text" class="form-control mb-3" id="txtCantidad" disabled>
                <input type="number" class="form-control mb-3" id="txtNuevaCantidad" placeholder="Catindad">
                <!-- <textarea id="txtDescripcion" cols="30" rows="3" class="form-control mb-3"
                        placeholder="Descripcion..."></textarea>
                        <input id="txtPrecioUni" type="number" placeholder="Precio Unitario (Lempiras)"
                        class="form-control mb-3"> -->
                <label class="lblNotify" id="lblNotify"></label>
                <button id="btnGuardarInventario" class="btn btn-success form-control">Guardar Inventario</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="divTableProduct">
                    <!-- TITTLE TABLE -->
                    <h3>Productos</h3>
                    <!-- TABLE PRODUCT -->
                    <div id="divTable">
                        <!-- <table class="tableProducts" id="tableProducts">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>-->
                    </div>

                </div>
            </div>
        </div>
    </div>