.divTitle {
    margin-top: 20px;
}

.txtTitle {
    font-size: 40px;
    font-weight: bolder;
    color: #E6E2AF;
}

.divFactura {
    background-color: #EFECCA;
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}