<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>

    <!-- FONTAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="css/bootstrapcss/bootstrap.min.css">
    <!-- JS jQuery -->
    <script src="js/jquery/jquery-3.4.1.js"></script>

    <!-- JS Propper -->
    <script src="js/popperjs/popper.min.js"></script>

    <!-- JS Bootstrap -->
    <script src="js/bootstrapjs/bootstrap.min.js"></script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/index.css">

    <!-- CUSTOM JS -->
    <!-- <script src="js/index.js"></script> -->
</head>

<body>
    <!-- MENU -->
    <div class="divNavBar">
        <ul>
            <li><a href="/productos">Producto</a></li>
            <li><a href="">Ventas</a></li>
            <li><a href="/inventario">Inventario</a></li>
        </ul>
    </div>

    <!-- BODY/CONTENT -->
    <%- body %>
</body>

</html>